# Day 1 Assignment

### Exercise: Level 1

#1 Python version

In [1]:
!python --version

Python 3.9.5

#2 Arithmetic operations

In [1]:
3 + 4  ## addition (+)

7

In [5]:
3 - 4  #subtraction(-)

-1

In [6]:
3 * 4 #multiplication(*)

12

In [7]:
3 % 4 #modulus(%)

3

In [8]:
3 / 4  #division(/)

0.75

In [9]:
3 ** 4  #exponential(**)

81

In [10]:
3 // 4  #floor division operator(//)

0

#3 Strings

In [11]:
"Muhammad Auwal"  # My name as string

'Muhammad Auwal'

In [12]:
"Abubakar"  # My family name as string

'Abubakar'

In [13]:
"Nigeria"  # My country as string

'Nigeria'

In [14]:

"I am enjoying 30 days of python"  # As string

'I am enjoying 30 days of python'

#4 Checking Data types

In [15]:
type(10)  # int

int

In [16]:
type(9.8)  # float

float

In [17]:
type(3.14)  # float

float

In [18]:
type(4 - 4j)  #complex

complex

In [19]:
type(['Asabeneh', 'Python', 'Finland'])   # list

list

In [21]:
type('Muhammad Auwal')  # My name is a string

str

In [22]:
type('Abubakar')  # My family name is also a string

str

In [23]:
type('Nigeria')  # My country is also a string

str

### Exercise: Level 2. Please refer to "helloworld.py" file in same folder (Day1).

### Exercise: Level 3

#1. Example for different Python data types

- Integer: -10, 0, 1000
- Float: 9.81, -3.5
- Complex: 1 + 1j
- String: "Muhammad Auwal", "Nigeria"
- Boolean: True, False
- List: [mango, 7, 9.1] 
- Tuple: (1, 2, 3, 4)
- Set: {1, 9, 12}
- Dictionary: {
'first_name' : 'Muhammad',
'last_name' : 'Auwal',
'country' : 'Nigeria'}

#2.  Euclidian distance (D) between (2, 3) and (10, 8)

In [28]:
x1 = 2
x2 = 10
y1 = 3
y2 = 8

D = (x2 - x1)**2 + (y2 - y1)**2
print(D)

89