# Exercises: Day 10

### Exercises: Level 1

In [13]:
# 1a. Iterate 0 to 10 using for loop.

numbers = [0,1,2,3,4,5,6,7,8,9,10]
#numbers = range(11) # another way
for number in numbers:
    print(number)
    number = number + 1

0
1
2
3
4
5
6
7
8
9
10

In [10]:
# 1b. Iterate 0 to 10 using while loop.

number = 0
while number <= 10:
    print(number)
    number = number + 1

0
1
2
3
4
5
6
7
8
9
10

In [30]:
# 2a. Iterate 10 to 0 using for loop.

numbers = [10,9,8,7,6,5,4,3,2,1,0]
for number in numbers:
    print(number)

10
9
8
7
6
5
4
3
2
1
0

In [3]:
# 2b. Iterate 10 to 0 using while loop.

number = 10
while number <= 10:
    print(number)
    number = number - 1
    if number == 0:
        print (number)
        break

10
9
8
7
6
5
4
3
2
1
0

In [17]:
# 3. Write a loop that makes seven calls to print(), so we get on the output the following triangle:

  #
  ##
  ###
  ####
  #####
  ######
  #######
  
numbers = [1,2,3,4,5,6,7]
for number in numbers:
    print(number * '#')
    
# another way
#for number in range(8):
#    print(number * '#')

#
##
###
####
#####
######
#######

In [20]:
# 4. Use nested loops to create the following:

# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #

for number in range(9):
    print(8 * '# ')

# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #

In [21]:
# 5. Print the following pattern:
# 0 x 0 = 0
# 1 x 1 = 1
# 2 x 2 = 4
# 3 x 3 = 9
# 4 x 4 = 16
# 5 x 5 = 25
# 6 x 6 = 36
# 7 x 7 = 49
# 8 x 8 = 64
# 9 x 9 = 81
# 10 x 10 = 100

for number in range(11):
    print(f'{number} x {number} =  {number * number}')

0 x 0 =  0
1 x 1 =  1
2 x 2 =  4
3 x 3 =  9
4 x 4 =  16
5 x 5 =  25
6 x 6 =  36
7 x 7 =  49
8 x 8 =  64
9 x 9 =  81
10 x 10 =  100

In [26]:
# 6. Iterate through the list, ['Python', 'Numpy','Pandas','Django', 'Flask'] using a for loop and print out the items.

libraries = ['Python', 'Numpy','Pandas','Django', 'Flask']
for i in libraries:
    print(i)

Python
Numpy
Pandas
Django
Flask

In [29]:
# 7. Use for loop to iterate from 0 to 100 and print only even numbers

for i in range(101):
    if i%2 == 0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [31]:
# 8. Use for loop to iterate from 0 to 100 and print only odd numbers

for i in range(101):
    if i%2 != 0:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

### Exercises: Level 2

In [40]:
# 1. Use for loop to iterate from 0 to 100 and print the sum of all numbers.
                #The sum of all numbers is 5050.
sum_all = 0
for i in range(101):
    #sum_all+=i
    sum_all = sum_all + i    
print(f'sum equals {sum_all}')

sum equals 5050

In [49]:
# 2. Use for loop to iterate from 0 to 100 and print the sum of all evens and the sum of all odds.

            # The sum of all evens is 2550. And the sum of all odds is 2500.
            
# sum of all evens
sum_evens = 0
for i in range(101):
    if i%2 == 0:
        sum_evens += i
print(f'sum of all evens equals: {sum_evens}')

sum of all evens equals: 2550

In [50]:
# sum of all odds
sum_odds = 0
for i in range(101):
    if i%2 != 0:
        sum_odds += i
print(f'sum of all odds equals: {sum_odds}')

sum of all odds equals: 2500

### Exercises: Level 3

In [61]:
# 1. Go to the data folder and use the countries.py file.
# Loop through the countries and extract all the countries containing the word land.

countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
]

for country in countries:
    if 'land' in country:
      print(country)

Finland
Iceland
Ireland
Marshall Islands
Netherlands
New Zealand
Poland
Solomon Islands
Swaziland
Switzerland
Thailand

In [73]:
# 2. This is a fruit list, ['banana', 'orange', 'mango', 'lemon'] reverse the order using loop.

fruit_lst = ['banana', 'orange', 'mango', 'lemon']
for i in range(len(fruit_lst)-1,-1,-1):
    print(fruit_lst[i])

lemon
mango
orange
banana