# Exercises: Day 7

In [1]:
# sets
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

### Exercises: Level 1

In [2]:
# 1. Find the length of the set it_companies

print(len(it_companies))

7

In [4]:
# 2. Add 'Twitter' to it_companies

it_companies.add('Twitter')
print(it_companies)

{'Oracle', 'Twitter', 'Microsoft', 'Facebook', 'IBM', 'Google', 'Amazon', 'Apple'}

In [7]:
# 3. Insert multiple IT companies at once to the set it_companies

it_companies = {'Oracle', 'Twitter', 'Microsoft', 'Facebook', 'IBM', 'Google', 'Amazon', 'Apple'}
it_companies.update(['WhatsApp', 'Telegram'])
print(it_companies)

{'Google', 'Amazon', 'Apple', 'WhatsApp', 'Oracle', 'Twitter', 'Microsoft', 'Facebook', 'IBM', 'Telegram'}

In [8]:
# 4. Remove one of the companies from the set it_companies

it_companies.remove('Microsoft')
print(it_companies)

{'Google', 'Amazon', 'Apple', 'WhatsApp', 'Oracle', 'Twitter', 'Facebook', 'IBM', 'Telegram'}

In [ ]:
# 5. What is the difference between remove and discard

# The remove() method raises an error message when the specified item is not in the set. While the discard() method does not.

### Exercises: Level 2

In [9]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

In [10]:
# 1. Join A and B

A.union(B)

{19, 20, 22, 24, 25, 26, 27, 28}

In [11]:
# 2. Find A intersection B

A.intersection(B)

{19, 20, 22, 24, 25, 26}

In [12]:
# 3. Is A subset of B

A.issubset(B)

True

In [13]:
# 4. Are A and B disjoint sets

A.isdisjoint(B)

False

In [17]:
# 5. Join A with B and B with A

print('A U B : ' , A.union(B))
print('B U A : ' , B.union(A))

A U B :  {19, 20, 22, 24, 25, 26, 27, 28}
B U A :  {19, 20, 22, 24, 25, 26, 27, 28}

In [18]:
# 6. What is the symmetric difference between A and B

A.symmetric_difference(B)

{27, 28}

In [19]:
# 7. Delete the sets completely

del A
del B

### Exercises: Level 3

In [21]:
age = [22, 19, 24, 25, 26, 24, 25, 24]

In [26]:
# 1. Convert the ages to a set and compare the length of the list and the set, which one is bigger?

set_age = set(age) 
print('set_age: ' , set_age)
print('length of list_age: ' , len(age))
print('length of set_age: ' , len(set_age))

set_age:  {19, 22, 24, 25, 26}
length of list_age:  8
length of set_age:  5

##### 2. Explain the difference between the following data types: string, list, tuple and set

- string: Any data type written as text is a string and the data has to be under single, double or triple quote.

- List: is a collection which is ordered and changeable(modifiable). Allows duplicate members.

- Tuple: is a collection which is ordered and unchangeable or unmodifiable(immutable). Allows duplicate members.

- Set: is a collection which is unordered, un-indexed and unmodifiable, but we can add new items to the set. Duplicate members are not allowed.

In [28]:
# 3. I am a teacher and I love to inspire and teach people. 
# How many unique words have been used in the sentence? Use the split methods and set to get the unique words.

sentence = 'I am a teacher and I love to inspire and teach people'
individual_words = sentence.split()
print('The individual words are: ', individual_words)
unique_words = set(individual_words)
print('The unique words are: ' , unique_words)

The individual words are:  ['I', 'am', 'a', 'teacher', 'and', 'I', 'love', 'to', 'inspire', 'and', 'teach', 'people']
The unique words are:  {'people', 'love', 'I', 'teach', 'inspire', 'teacher', 'to', 'a', 'and', 'am'}