# Exercises: Day 5

### Exercises: Level 1

In [4]:
# 1. Declare an empty list

#lst = list()  # another way
lst = []
print(lst)

[]

In [5]:
# 2. Declare a list with more than 5 items

fruits = ['mango', 'orange', 'banana', 'lemon', 'apple']
print(fruits)

['mango', 'orange', 'banana', 'lemon', 'apple']

In [6]:
# 3. Find the length of your list

fruits = ['mango', 'orange', 'banana', 'lemon', 'apple']
length_fruits = len(fruits)
print(length_fruits)

5

In [7]:
# 4. Get the first item, the middle item and the last item of the list

fruits = ['mango', 'orange', 'banana', 'lemon', 'apple']
mango_banana_apple = fruits[0:5:2]
print(mango_banana_apple)

['mango', 'banana', 'apple']

In [9]:
# 5. Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

mixed_data_types = ['Muhammad', 20, 1.97, 'married', 'Nigeria']
print(mixed_data_types)

['Muhammad', 20, 1.97, 'married', 'Nigeria']

In [10]:
# 6. Declare a list variable named it_companies and assign initial values
# Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [11]:
# 7. Print the list using print()

# done already in #6

In [12]:
# 8. Print the number of companies in the list

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
print(len(it_companies))

7

In [16]:
# 9. Print the first, middle and last company

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
print(it_companies[0])
print(it_companies[3])
print(it_companies[6])

Facebook
Apple
Amazon

In [17]:
#10. Print the list after modifying one of the companies

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies[0] = 'WhatsApp'
print(it_companies)

['WhatsApp', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [18]:
# 11. Add an IT company to it_companies

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies.append('Cisco')
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Cisco']

In [19]:
# 12. Insert an IT company in the middle of the companies list

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies.insert(3, 'Cisco')
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Cisco', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [32]:
# 13. Change one of the it_companies names to uppercase (IBM excluded!)

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies[2] = 'MICROSOFT'
print(it_companies)

['Facebook', 'Google', 'MICROSOFT', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [33]:
# 14. Join the it_companies with a string '#;  '

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
'#'.join(it_companies)

'Facebook#Google#Microsoft#Apple#IBM#Oracle#Amazon'

In [34]:
# 15. Check if a certain company exists in the it_companies list.

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
'WhatsApp' in it_companies

False

In [36]:
# 16. Sort the list using sort() method

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies.sort()
print(it_companies)

['Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Oracle']

In [38]:
# 17. Reverse the list in descending order using reverse() method

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies.reverse()
print(it_companies)

['Amazon', 'Oracle', 'IBM', 'Apple', 'Microsoft', 'Google', 'Facebook']

In [40]:
# 18. Slice out the first 3 companies from the list

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
first_three = it_companies[0:3]
print(first_three)

['Facebook', 'Google', 'Microsoft']

In [42]:
# 19. Slice out the last 3 companies from the list

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
#last_three = it_companies[4:] # another way
last_three = it_companies[-3:]
print(last_three)

['IBM', 'Oracle', 'Amazon']

In [43]:
# 20. Slice out the middle IT company or companies from the list

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
middle_it = it_companies[3]
print(middle_it)

Apple

In [44]:
# 21. Remove the first IT company from the list

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies.remove('Facebook')
print(it_companies)

['Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [45]:
# 22. Remove the middle IT company or companies from the list

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies.remove('Apple')
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'IBM', 'Oracle', 'Amazon']

In [46]:
# 23. Remove the last IT company from the list

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies.remove('Amazon')
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle']

In [47]:
# 24. Remove all IT companies from the list

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies.clear()
print(it_companies)

[]

In [49]:
# 25. Destroy the IT companies list

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
del it_companies
print(it_companies)

NameError: name 'it_companies' is not defined

In [50]:
# 26. Join the following lists:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

join_list = front_end + back_end
print(join_list)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [56]:
# 27. After joining the lists in question 26. 
# Copy the joined list and assign it to a variable full_stack. Then insert Python and SQL after Redux.

full_stack = join_list.copy()
print(full_stack)

full_stack.insert(5, 'Python')
full_stack.insert(6, 'SQL')
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']
['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']