# Exercises: Level 1

1 File opening

Jupyter file (Variables.ipynb) open in day2 assignment folder as requested.

2 Python comment

In [ ]:
# Day 2: 30 Days of python programming

3 first name variable declaration and assigning value to it

In [1]:
first_name = 'Muhammad'

4 last name variable declaration and assigning value to it

In [2]:
last_name = 'Auwal'

5 full name variable declaration and assigning value to it

In [3]:
full_name = 'Muhammad Auwal'

6 country variable declaration and assigning value to it

In [4]:
country = 'Nigeria'

7 city variable declaration and assigning value to it

In [6]:
city = 'Jos'

8 age variable declaration and assigning value to it

In [7]:
age = 20

9 year variable declaration and assigning value to it

In [8]:
year = 2023

10 is_married variable declaration and assigning value to it

In [10]:
is_married = True

11 is_true variable declaration and assigning value to it

In [12]:
is_true = True

12 is_light_on variable declaration and assigning value to it

In [13]:
is_light_on = False

13 Multiple variable declaration and assigning values

In [14]:
first_name, last_name, country, age, is_married = 'Muhammad', 'Auwal', 'Jos', 20, True

# Exercises: Level 2

1 Checking data types

In [19]:
type(first_name)

str

In [20]:
type(last_name)

str

In [21]:
type(full_name)

str

In [22]:
type(country)

str

In [23]:
type(city)

str

In [24]:
type(age)

int

In [25]:
type(year)

int

In [26]:
type(is_married)

bool

In [27]:
type(is_true)

bool

In [28]:
type(is_light_on)

bool

2 Finding the length of first name

In [29]:
len(first_name)

8

3 Comparing the length of first name and last name

In [33]:
print('Length of first name: ', len(first_name))
print('Length of last name: ', len(last_name))

Length of first name:  8
Length of last name:  5

4 Declaring 5 as num_one and 4 as num_two

In [34]:
num_one, num_two = 5, 4

i. Adding num_one and num_two and assigning the value to a variable total

In [36]:
total = num_one + num_two
print(total)

9

ii. Subtracting num_two from num_one and assigning the value to a variable diff

In [37]:
diff = num_one - num_two
print(diff)

1

iii Multiplying num_two and num_one and assigning the value to a variable product

In [38]:
product = num_two * num_one
print(product)

20

iv Dividing num_one by num_two and assigning the value to a variable division

In [39]:
division = num_one / num_two
print(division)

1.25

v. Using modulus division to find num_two divided by num_one and assigning the value to a variable remainder

In [40]:
remainder = num_two % num_one
print(remainder)

4

vi. Calculating num_one to the power of num_two and assigning the value to a variable exp

In [41]:
exp = num_one ** num_two
print(exp)

625


vii. Finding floor division of num_one by num_two and assigning the value to a variable floor_division

In [42]:
floor_division = num_one // num_two
print(floor_division)

1

5 Cirle calculations with radius (r), 30

i. area of the circle (area_of_circle)

In [47]:
r = 30
pi = 3.142
area_of_circle = pi * (r**2) 
print(area_of_circle)

2827.7999999999997

ii circumference of a circle (circum_of_circle)

In [48]:
circum_of_circle = 2 * pi * r
print(circum_of_circle)

188.51999999999998

iii Taking radius as user input and calculating the area.

In [14]:
from math import pi
# alternatively by declaring its value as in pi = 3.142
r = int(input('Please enter the circle radius and press the enter key'))
area_of_circle = pi * (r**2)
print("pi: " , pi)
print("area of circle: " , area_of_circle)

pi:  3.141592653589793
area of circle:  28.274333882308138

6 Using built-in input function to get:

In [17]:
# first name
first_name = str(input("Pls enter first name: "))
print(first_name)

Muhammad

In [21]:
# last name
last_name = str(input("Pls enter last name: "))
print(last_name)

Auwal

In [22]:
# country
country = str(input("Pls enter country name: "))
print(country)

Nigeria

In [23]:
# age
age = int(input("Pls enter age: "))
print(age)

20

7  Running help('keywords')

In [24]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               break               for                 not
None                class               from                or
True                continue            global              pass
__peg_parser__      def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield